.main {
  width: 90%;
  margin: auto;
}
.item-table,
mat-table {
  margin-top: 10px;
  width: 100%;
}

.infotext {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.buttons {
  cursor: pointer;
}

.actions {
  display:flex;
  justify-content:center;
 }

.mat-column-title {
  flex: 0 0 15%;
}
.mat-column-body {
  flex: 0 0 65%;
}
.mat-mini-fab {
  width: 30px;
  height: 30px;
}
::ng-deep .mat-mini-fab .mat-button-wrapper,
::ng-deep span .mat-button-wrapper {
  padding: 0 !important;
  display: inline-block;
  line-height: 24px;
}
.material-icons {
  font-size: 18px;
}

.mat-column-toDoDay {
  flex: 0 0 10%;
}

